.env
.env.production
*.pyc
__pychace__/
venv/
.venv/
.DS_Store
staticfiles/
*.sqlite3
errores_deploy/errores.txt

# Volcados de base de datos
data.sql
dump.json

# Archivos de runtime de Celery
celerybeat-schedule
